<div bsModal #createAuditQueryModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="createAuditQueryModal" aria-hidden="true" [config]="{backdrop: 'static', keyboard: !saving}">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
           <form>
                <div class="modal-header">
                    <h5 class="modal-title">
                        <span>{{"CreateNewAuditQuery" | localize}}</span>
                    </h5>
                    <button type="button" class="close" (click)="close()" [attr.aria-label]="l('Close')"
                         [disabled]="saving">
                         <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                
                <div class="modal-body">
                    <div class="form-group">
                        <label for="orderId">{{"OrderId" | localize}} </label>
                        <input id="orderId" class="form-control" type="text"/>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                           <div class="form-group">
                             <label for="clientRef">{{"ClientRef" | localize}} </label>
                             <input id="clientRef" class="form-control" type="text"/>
                           </div>
                        </div>

                        <div class="col-md-6">
                           <div class="form-group">
                             <label for="clientCode">{{"ClientCode" | localize}} </label>
                             <input id="clientCode" class="form-control" type="text"/>
                           </div>
                        </div>
                    </div>   

                    <div class="form-group">
                        <label for="securityAccNumber">{{"LabelSecurityAccNumber" | localize}} </label>
                         <input id="securityAccNumber" class="form-control" type="text"/>
                    </div>
                    
                    <div class="row">
                        <label class="col-md-3">{{"LabelFinancialInstrument" | localize}}</label> 
                     </div>
                     <div class="row"> 
                       <div class="form-group col-md-3">  
                           <div class="kt-checkbox-list">
                              <label for="equities" class="kt-checkbox">
                              <input id="equities" type="checkbox" class="form-control"/>
                                   {{"CheckBoxEquities" | localize}}       
                                   <span></span>                  
                               </label>
                           </div>
                         </div>                          
                         <div class="form-group col-md-3">                   
                           <div class="kt-checkbox-list">
                                 <label for="bonds" class="kt-checkbox">
                                 <input id="bonds" type="checkbox" class="form-control"/>
                                        {{"CheckBoxBonds" | localize}}       
                                  <span></span>                  
                                 </label>
                           </div>
                         </div>
                         <div class="form-group col-md-3">
                           <div class="kt-checkbox-list">
                                <label for="moneyMarket" class="kt-checkbox">
                                <input id="moneyMarket" type="checkbox" class="form-control" />
                                        {{"CheckBoxMoneyMarket" | localize}}     
                                <span></span>                    
                                </label>
                            </div>
                         </div>
                         <div class="form-group col-md-3">
                            <div class="kt-checkbox-list">
                                <label for="derivatives" class="kt-checkbox">
                                <input id="derivatives" type="checkbox" class="form-control" />
                                        {{"CheckBoxDerivatives" | localize}}     
                                <span></span>                    
                                </label>
                            </div>    
                       </div>                 
                     </div>
                     
                     <div class="row">
                        <div class="col-md-6">
                           <div class="form-group">
                             <label for="quantity">{{"Quantity" | localize}} </label>
                             <input id="quantity" class="form-control" type="text"/>
                           </div>
                        </div>

                        <div class="col-md-6">
                           <div class="form-group">
                              <label for="transactionType">{{"TransactionType" | localize}} </label>
                              <input id="transactionType" class="form-control" type="text"/>
                           </div>
                        </div>
                    </div>   

                    <div class="row">
                        <div class="col-md-6">
                           <div class="form-group">
                             <label for="counterparty">{{"Counterparty" | localize}} </label>
                             <input id="counterparty" class="form-control" type="text"/>
                           </div>
                        </div>

                        <div class="col-md-6">
                           <div class="form-group">
                             <label for="clientInstructionStatus">{{"ClientInstructionStatus" | localize}} </label>
                             <input id="clientInstructionStatus" class="form-control" type="text"/>
                           </div>
                        </div>
                    </div>   

                    <div class="row">
                        <div class="col-md-6">
                             <div class="form-group">
                                 <label for="tradeDate">{{"TradeDate" | localize}} </label>
                                 <input type="text" id="tradeDate" class="form-control" bsDatepicker  [bsConfig]="{ adaptivePosition: true }"/>                               
                              </div>
                        </div>
    
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="settlementDate">{{"SettlementDate" | localize}} </label>
                                <input type="text" id="settlementDate" class="form-control" bsDatepicker [bsConfig]="{ adaptivePosition: true }"/>                             
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                             <div class="form-group">
                                 <label for="creationDate">{{"CreationDate" | localize}} </label>
                                 <input type="text" id="creationDate" class="form-control" bsDatepicker  [bsConfig]="{ adaptivePosition: true }"/>                               
                              </div>
                        </div>
    
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="updateDate">{{"UpdateDate" | localize}} </label>
                                <input type="text" id="updateDate" class="form-control" bsDatepicker [bsConfig]="{ adaptivePosition: true }"/>                             
                            </div>
                        </div>
                    </div>  
                </div>     
                    
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" (click)="close()">{{"Cancel" | localize}}</button>
                        <button type="submit" class="btn btn-primary" (click)="save()"><i class="fa fa-save"></i> <span>{{"Save" | localize}}</span></button>
                   </div>                    
                    
           </form>
        </div>
    </div>
</div>

