<div [@routerTransition]>
    <div class="kt-content  kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor">
        <div class="kt-subheader kt-grid__item">
            <div [class]="containerClass">
                <div class="kt-subheader__main">
                    <h3 class="kt-subheader__title">
                        <span>{{"FinancialYearEndAuditQuery" | localize}}</span>
                    </h3>
                    <span class="kt-subheader__separator kt-subheader__separator--v"></span>
                    <span class="kt-subheader__desc">
                        {{"ManageAuditQueries" | localize}}
                    </span>
                </div>

                <div class="kt-subheader__toolbar">
                    <div class="kt-subheader__wrapper">   
                        <button class="btn btn-primary" (click)="createAuditQueryModal.show()"><i class="fa fa-plus"></i> {{"CreateNewAuditQuery" | localize}}</button>                                              
                    </div>
                </div>
            </div>
        </div>
        
        <div [class]="containerClass + ' kt-grid__item kt-grid__item--fluid'">
            <div class="kt-portlet kt-portlet--mobile">
                <div class="kt-portlet__body">
                    <form class="kt-form">
                        <div>
                            <div class="row align-items-center mb-4">
                                <div class="col-xl-12">
                                    <div class="form-group m-form__group align-items-center">
                                        <div class="input-group">
                                            <input [(ngModel)]="filterText" name="filterText" autoFocus
                                                class="form-control m-input" [placeholder]="l('SearchWithThreeDot')"
                                                type="text">
                                            <span class="input-group-btn">
                                                <button class="btn btn-primary" type="submit"><i
                                                        class="flaticon-search-1"
                                                        [attr.aria-label]="l('Search')"></i></button>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>                            
                        </div>
                    </form>  
                    
                    <div class="row align-items-center">
                        <!--<Primeng-TurboTable-Start>-->
                        <div class="primeng-datatable-container" [busyIf]="primengTableHelper.isLoading">
                            <p-table #dataTable [value]="primengTableHelper.records"
                                rows="{{primengTableHelper.defaultRecordsCountPerPage}}" [paginator]="false"
                                [lazy]="true" [scrollable]="true" ScrollWidth="100%"
                                [responsive]="primengTableHelper.isResponsive"
                                [resizableColumns]="primengTableHelper.resizableColumns"
                                [autoLayout]="true"
                                >
                                <ng-template pTemplate="header">
                                    <tr>
                                        <th>
                                            {{'Actions' | localize}}</th>
                                        <th>
                                            {{'LabelSecurityAccNumber' | localize}}                                           
                                        </th>
                                        <th>
                                            {{'TransactionType' | localize}}                                          
                                        </th>
                                        <th>
                                            {{'Quantity' | localize}}                             
                                        </th>
                                        <th>
                                            {{'LabelFinancialInstrument' | localize}}
                                        </th>
                                        <th>
                                            {{'Market' | localize}}                                         
                                        </th>
                                        <th>
                                            {{'SettlementAmount' | localize}}                                
                                        </th>
                                        <th>
                                            {{'TradeDate' | localize}}                                      
                                        </th>
                                        <th>
                                            {{'SettlementDate' | localize}}                                    
                                        </th>
                                        <th>
                                            {{'Counterparty' | localize}}                                        
                                        </th>
                                        <th>
                                            {{'BuyerAccount' | localize}}                                     
                                        </th>
                                        <th>
                                            {{'SellerAccount' | localize}}                                        
                                        </th>
                                        <th>
                                            {{'Taxable' | localize}}                                  
                                        </th>
                                        <th>
                                            {{'ClientRef' | localize}}                                     
                                        </th>
                                        <th>
                                            {{'ClientInstructionStatus' | localize}}                                       
                                        </th>
                                        <th>
                                            {{'MarketInstructionStatus' | localize}}                                      
                                        </th>

                                    </tr>
                                </ng-template>
                                <ng-template pTemplate="body" let-record="$implicit">
                                    <tr>
                                        <td style="width: 130px">
                                            <div class="btn-group dropdown" dropdown container="body">
                                                <button dropdownToggle class="dropdown-toggle btn btn-sm btn-primary">
                                                    <i class="fa fa-cog"></i><span class="caret"></span>
                                                    {{"Actions" | localize}}
                                                </button>
                                                <ul class="dropdown-menu" *dropdownMenu>
                                                    <li>
                                                        <a href="javascript:;">{{'Edit' | localize}}</a>
                                                    </li>
                                                    
                                                    <li>
                                                        <a href="javascript:;">{{'Delete' | localize}}</a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </td>   
                                    </tr>
                                </ng-template>
                            </p-table>

                                     <div class="primeng-no-data" *ngIf="primengTableHelper.totalRecordsCount == 0">
                                {{'NoData' | localize}}
                            </div>
                            <div class="primeng-paging-container">
                                <p-paginator [rows]="primengTableHelper.defaultRecordsCountPerPage" #paginator
                                    (onPageChange)="getQueries()"
                                    [totalRecords]="primengTableHelper.totalRecordsCount"
                                    [rowsPerPageOptions]="primengTableHelper.predefinedRecordsCountPerPage">

                                </p-paginator>
                                <span class="total-records-count">
                                    {{'TotalRecordsCount' | localize:primengTableHelper.totalRecordsCount}}
                                </span>
                            </div>
                        </div>
                    </div>
                </div>    
            </div>
        </div>
        

        <div class="kt-container kt-grid__item kt-grid__item--fluid">
            <createAuditQueryModal #createAuditQueryModal></createAuditQueryModal>
        </div>
    </div>
</div>
