<div bsModal #onLoginModal="bs-modal"    
     tabindex="-1"
     role="dialog"
     aria-labelledby="onLoginModal"
     aria-hidden="true"
     config="{backdrop: true}">
 <div class="modal-dialog" >
    <div class="modal-content">
        <div class="modal-header">
            <h4 class="modal-title pull-left">{{title}}</h4>
        </div>
        <div class="modal-body">
        <ul *ngIf="list.length">
            <li *ngFor="let item of list">{{item}}</li>
        </ul>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-success" (click)="accept()">Accept</button>
            <button type="button" class="btn btn-danger" (click)="bsModalRef.hide()">Cancel</button>
            
        </div>
    </div>
</div>
<div>
