<div bsModal #positionCriteriaModal="bs-modal" class="modal fade" tabindex="-1" [config]="{backdrop: 'static'}">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <form [formGroup]="criteriaForm" (ngSubmit)="processForm()">
        <div class="modal-header">
          <h5 class="modal-title">Criteria</h5>
          <button type="button" class="close" (click)="cancel()" [attr.aria-label]="l('Close')">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="row">
            <div class="col-md-3">
              <div class="form-group">
                <label for="counterparty">Client</label>
                <input type="text" class="form-control" name="client" formControlName="client"/>
              </div>
            </div>
            <div class="col-md-3">
              <div class="form-group">
                <label for="counterparty">Position Date</label>
                <input bsDatepicker [bsConfig]="{ adaptivePosition: true }" type="text" class="form-control" name="position_Date" formControlName="position_Date"/>
              </div>
            </div>
            <div class="col-md-3">
              <div class="form-group">
                <label for="counterparty">Position Date End</label>
                <input bsDatepicker [bsConfig]="{ adaptivePosition: true }" type="text" class="form-control" name="position_Date_End" formControlName="position_Date_End"/>
              </div>
            </div>
            <div class="col-md-3">
              <div class="form-group">
                <label for="counterparty">Origin</label>
                <input type="text" class="form-control" name="origin" formControlName="origin"/>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-3">
              <div class="form-group">
                <label for="counterparty">Counterpart Code</label>
                <input type="text" class="form-control" name="counterpart_Code" formControlName="counterpart_Code"/>
              </div>
            </div>
            <div class="col-md-3">
              <div class="form-group">
                <label for="counterparty">Sec Acc</label>
                <input type="text" class="form-control" name="sec_Acc" formControlName="sec_Acc"/>
              </div>
            </div>
            <div class="col-md-3">
              <div class="form-group">
                <label for="counterparty">Impacted</label>
                <input type="text" class="form-control" name="impacted" formControlName="impacted"/>
              </div>
            </div>
            <div class="col-md-3">
              <div class="form-group">
                <label for="counterparty">Tradable Asset</label>
                <input type="text" class="form-control" name="tradable_Asset" formControlName="tradable_Asset"/>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-3">
              <div class="form-group">
                <label for="counterparty">Depo</label>
                <input type="text" class="form-control" name="depo" formControlName="depo"/>
              </div>
            </div>
            <div class="col-md-3">
              <div class="form-group">
                <label for="counterparty">Quantity</label>
                <input type="text" class="form-control" name="quantity" formControlName="quantity"/>
              </div>
            </div>
            <div class="col-md-3">
              <div class="form-group">
                <label for="counterparty">Processed</label>
                <input type="text" class="form-control" name="processed" formControlName="processed"/>
              </div>
            </div>
            <div class="col-md-3">
              <div class="form-group">
                <label for="counterparty">Position Nature</label>
                <input type="text" class="form-control" name="position_Nature" formControlName="position_Nature"/>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-3">
              <div class="form-group">
                <label for="counterparty">Description</label>
                <input type="text" class="form-control" name="description" formControlName="description"/>
              </div>
            </div>
            <div class="col-md-3">
              <div class="form-group">
                <label for="counterparty">Proxy</label>
                <input type="text" class="form-control" name="proxy" formControlName="proxy"/>
              </div>
            </div>
            <div class="col-md-3">
              <div class="form-group">
                <label for="counterparty">Asset Nature</label>
                <input type="text" class="form-control" name="asset_Nature" formControlName="asset_Nature"/>
              </div>
            </div>
            <div class="col-md-3">
              <div class="form-group">
                <label for="counterparty">Position Identifier</label>
                <input type="text" class="form-control" name="position_Identifier" formControlName="position_Identifier"/>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-3">
              <div class="form-group">
                <label for="counterparty">Creation Date</label>
                <input bsDatepicker [bsConfig]="{ adaptivePosition: true }" type="text" class="form-control" name="creation_Date" formControlName="creation_Date"/>
              </div>
            </div>
            <div class="col-md-3">
              <div class="form-group">
                <label for="counterparty">Creation Date End</label>
                <input bsDatepicker [bsConfig]="{ adaptivePosition: true }" type="text" class="form-control" name="creation_Date_End" formControlName="creation_Date_End"/>
              </div>
            </div>
            <div class="col-md-3">
              <div class="form-group">
                <label for="counterparty">Update Date</label>
                <input bsDatepicker [bsConfig]="{ adaptivePosition: true }" type="text" class="form-control" name="update_Date" formControlName="update_Date"/>
              </div>
            </div>
            <div class="col-md-3">
              <div class="form-group">
                <label for="counterparty">Update Date End</label>
                <input bsDatepicker [bsConfig]="{ adaptivePosition: true }" type="text" class="form-control" name="update_Date_End" formControlName="update_Date_End"/>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-3">
              <div class="form-group">
                <label for="counterparty">Main Reference</label>
                <input type="text" class="form-control" name="main_Reference" formControlName="main_Reference"/>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" (click)="cancel()"
            [disabled]="isLoading">{{"Cancel" | localize}}</button>
          <button type="submit" class="btn btn-primary" [disabled]="isLoading">{{"Submit" | localize}}</button>
        </div>
      </form>
    </div>
  </div>
</div>