<div bsModal #createTicketModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="createTicketModal" aria-hidden="true" [config]="{backdrop: 'static', keyboard: !saving}">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
           <form [formGroup]="queryForm">
                <div class="modal-header">
                    <h5 class="modal-title">
                        <span>{{"CreateNewTicket" | localize}}</span>
                    </h5>
                    <button type="button" class="close" (click)="close()" [attr.aria-label]="l('Close')"
                         [disabled]="saving">
                         <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                
                <div class="modal-body">
                  <div class="row">
                     <div class="col-md-6">
                        <div class="form-group">
                            <label for="department">{{"Department" | localize}}</label>
                            <select id="department" class="form-control" [(ngModel)] = "query.department" (change)="getQueryTypeList($event.target.value)" 
                                   formControlName="department">                                                              
                              <option *ngFor="let department of departments" [value]="department.departmentName">
                                  {{department.departmentName}}
                              </option>
                            </select>
                            <span *ngIf="submitted && f.department.errors" class="text-danger"> 
                                This field cannot be blank.
                            </span>
                            <span *ngIf="((f.department.touched || f.department.dirty) && f.department.invalid && f.department.errors.required)" class="text-danger">
                                This field is required.
                            </span>                            
                        </div>
                     </div>               
                      <div class="col-md-6">
                            <div class="form-group">
                                <label for="queryType">{{"QueryType" | localize}}</label>
                                <select id="queryType" class="form-control" [(ngModel)] ="query.queryType" formControlName="queryType">
                                 <option *ngFor="let queryType of queryTypes" [value]="queryType.typeName">
                                     {{queryType.typeName}}
                                  </option>
                                </select>
                                 <span *ngIf="submitted && f.queryType.errors" class="text-danger"> 
                                    This field cannot be blank.
                                 </span>
                                 <span *ngIf="((f.queryType.touched || f.queryType.dirty) && f.queryType.invalid && f.queryType.errors.required)" class="text-danger">
                                    This field is required.
                                 </span>                                                             
                            </div>
                     </div>
                  </div>
                  <div class="row">
                     <label class="col-md-3">{{"LabelFinancialInstrument" | localize}}</label> 
                  </div>
                  <div class="row"> 
                    <div class="form-group col-md-3">  
                        <div class="kt-checkbox-list">
                           <label for="equities" class="kt-checkbox">
                           <input id="equities" type="checkbox" class="form-control" [(ngModel)]="query.financialInstrument_Equities" formControlName="equities" />
                                {{"CheckBoxEquities" | localize}}       
                                <span></span>                  
                            </label>
                        </div>
                      </div>                          
                      <div class="form-group col-md-3">                   
                        <div class="kt-checkbox-list">
                              <label for="bonds" class="kt-checkbox">
                              <input id="bonds" type="checkbox" class="form-control" [(ngModel)]="query.financialInstrument_Bonds" formControlName="bonds"/>
                                     {{"CheckBoxBonds" | localize}}       
                               <span></span>                  
                              </label>
                        </div>
                      </div>
                      <div class="form-group col-md-3">
                        <div class="kt-checkbox-list">
                             <label for="moneyMarket" class="kt-checkbox">
                             <input id="moneyMarket" type="checkbox" class="form-control" [(ngModel)]="query.financialInstrument_MoneyMarket" formControlName="moneyMarket" />
                                     {{"CheckBoxMoneyMarket" | localize}}     
                             <span></span>                    
                             </label>
                         </div>
                      </div>
                      <div class="form-group col-md-3">
                         <div class="kt-checkbox-list">
                             <label for="derivatives" class="kt-checkbox">
                             <input id="derivatives" type="checkbox" class="form-control" [(ngModel)]="query.financialInstrument_Derivatives" formControlName="derivatives" />
                                     {{"CheckBoxDerivatives" | localize}}     
                            <span></span>                    
                             </label>
                         </div>    
                    </div>                 
                  </div>
                  
                 <div class="row">
                      <div class="col-md-6">
                         <div class="form-group">
                             <label for="companyName">{{"LabelCompanyName" | localize}} </label>
                             <input id="companyName" class="form-control" type="text" [(ngModel)]="query.companyName" formControlName="companyName">
                         </div>
                      </div>
                 
                     <div class="col-md-6">
                        <div class="form-group">
                             <label for="companyRegNum">{{"LabelCompanyRegNumber" | localize}} </label>
                             <input id="companyRegNum" class="form-control" type="text" [(ngModel)]="query.companyRegistrationNumber" 
                                  formControlName="companyRegNum">                         
                              <span *ngIf="submitted && f.companyRegNum.errors" class="text-danger"> 
                                  This field cannot be blank.
                              </span>
                              <span *ngIf="(f.companyRegNum.touched || f.companyRegNum.dirty) && f.companyRegNum.invalid && f.companyRegNum.errors.required" class="text-danger">
                                  This field is required.
                              </span>                      
                        </div>
                     </div>
                </div>
                <div class="form-group">
                    <label for="entityNumber">{{"LabelEntityNumber" | localize}} </label>
                    <input id="entityNumber" class="form-control" type="text" [(ngModel)]="query.entityNumber" formControlName="entityNumber">
                    <span *ngIf="(f.entityNumber.touched || f.entityNumber.dirty) && f.entityNumber.invalid && f.entityNumber.errors.pattern" class="text-danger">
                        Only numbers are allowed.
                     </span>               
                </div>

                <div class="row">
                     <div class="col-md-6">
                        <div class="form-group">
                           <label for="cashAccNumber">{{"LabelCashAccNumber" | localize}} </label>
                           <input id="cashAccNumber" class="form-control" type="text" [(ngModel)]="query.cashAccountNumber" formControlName="cashAccNumber">
                           <span *ngIf="(f.cashAccNumber.touched || f.cashAccNumber.dirty) && f.cashAccNumber.invalid && f.cashAccNumber.errors.pattern" class="text-danger">
                              Only numbers are allowed.
                           </span>
                           <span *ngIf="submitted && f.cashAccNumber.errors" class="text-danger">
                              This field cannot be blank.
                           </span>
                           <span *ngIf="(f.cashAccNumber.touched || f.cashAccNumber.dirty) && f.cashAccNumber.invalid && f.cashAccNumber.errors.required" class="text-danger">
                              This field is required.
                           </span>
                        </div>
                     </div>
                   
                     <div class="col-md-6">
                        <div class="form-group">
                           <label for="securityAccNumber">{{"LabelSecurityAccNumber" | localize}} </label>
                            <input id="securityAccNumber" class="form-control" type="text" [(ngModel)]="query.securityAccountNumber"
                                   formControlName="securityAccNumber">
                            <span *ngIf="(f.securityAccNumber.touched || f.securityAccNumber.dirty) && f.securityAccNumber.invalid && f.securityAccNumber.errors.pattern" class="text-danger">
                               Only numbers are allowed.
                            </span>
                             <span *ngIf="submitted && f.securityAccNumber.errors" class="text-danger">
                                This field cannot be blank.
                             </span>
                            <span *ngIf="(f.securityAccNumber.touched || f.securityAccNumber.dirty) && f.securityAccNumber.invalid && f.securityAccNumber.errors.required" class="text-danger">
                                This field is required.
                            </span>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="contactPerson">{{"LabelContactPerson" | localize}} </label>
                    <input id="contactPerson" class="form-control" type="text" [(ngModel)]="query.authorisedContactPerson" formControlName = "contactPerson">
                </div>
                <div class="row">
                    <div class="col-md-6">
                      <div class="form-group">
                        <label for="contactNumber">{{"LabelContactNumber" | localize}} </label>
                         <input id="contactNumber" class="form-control" type="text" [(ngModel)] = "query.contactNumber"
                                formControlName="contactNumber">
                         <span *ngIf="f.contactNumber.dirty && f.contactNumber.invalid && f.contactNumber.errors.pattern" class="text-danger">
                             Only numbers are allowed.
                         </span>
                       </div>
                    </div>

                    <div class="col-md-6">
                        <div class="form-group">
                          <label for="email">{{"LabelEmail" | localize}} </label>
                          <input id="email" class="form-control" type="email" [(ngModel)]="query.email" 
                                 formControlName="email">
                          <span *ngIf="(f.email.touched || f.email.dirty) && f.email.invalid && f.email.errors.pattern" class="text-danger">
                             Email should be in a valid format e.g. abc@gmail.com
                          </span>
                       </div>
                    </div>
                </div>              
                        
                <div class="form-group">
                   <label for="queryDescription">{{"QueryDescription" | localize}} </label>
                   <input id="queryDescription" class="form-control" type="text" [(ngModel)]="query.queryDescription" formControlName="queryDescription">
                </div>
                
                <div class="row">
                    <div class="col-md-6">
                         <div class="form-group">
                             <label for="queryStatus">{{"QueryStatus" | localize}} </label>
                             <select id="queryStatus" class="form-control" [(ngModel)] ="query.queryStatus" formControlName="queryStatus">
                                <option *ngFor="let status of statusList" [value]="status">
                                    {{status}}
                                </option>
                             </select>
                         </div>
                    </div>

                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="assignee">{{"AssignedTo" | localize}} </label>
                            <input id="assignee" type="text" class="form-control" [(ngModel)]="query.assignedTo" formControlName="assignee">
                        </div>
                    </div>
                </div>            

                <div class="row">
                    <div class="col-md-6">
                         <div class="form-group">
                             <label for="queryReference">{{"QueryReference" | localize}} </label>
                             <input type="text" id="queryReference" class="form-control" [(ngModel)]="query.queryReference" formControlName="queryReference">
                             <span *ngIf="(f.queryReference.touched || f.queryReference.dirty) && f.queryReference.invalid && f.queryReference.errors.pattern" class="text-danger">
                                Only numbers are allowed.
                            </span>
                         </div>
                    </div>

                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="sla">{{"SLA" | localize}} </label>
                            <input id="sla" type="text" class="form-control" [(ngModel)]="query.sla" formControlName="sla">
                        </div>
                    </div>
                </div>          

                <div class="row">
                    <div class="col-md-6">
                         <div class="form-group">
                             <label for="dateFrom">{{"LabelDateFrom" | localize}} </label>
                             <input type="text" id="dateFrom" class="form-control" bsDatepicker  [bsConfig]="{ adaptivePosition: true }"
                               [(ngModel)] = "query.dateFrom" formControlName="dateFrom">                             
                             <span *ngIf="submitted && f.dateFrom.errors" class="text-danger">
                                This field cannot be blank.
                             </span>
                             <span *ngIf="(f.dateFrom.touched || f.dateFrom.dirty) && f.dateFrom.invalid && f.dateFrom.errors.required" class="text-danger">
                                This field is required.
                             </span>
                          </div>
                    </div>

                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="dateTo">{{"LabelDateTo" | localize}} </label>
                            <input type="text" id="dateTo" class="form-control" bsDatepicker [bsConfig]="{ adaptivePosition: true }"
                              [(ngModel)]="query.dateTo" formControlName="dateTo">
                            <span *ngIf="submitted && f.dateTo.errors" class="text-danger">
                                This field cannot be blank.
                            </span>
                            <span *ngIf="(f.dateTo.touched || f.dateTo.dirty) && f.dateTo.invalid && f.dateTo.errors.required" class="text-danger">
                                This field is required.
                            </span>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label for="attachments">{{"UploadAttachments" | localize}}</label>
                    <input type="file" id="attachments" class="form-control" multiple="true" (change)="getFileDetails($event)" formControlName="attachments"/>
                </div>
             </div>
              
              <div class="modal-footer">
                    <button type="button" class="btn btn-default" (click)="close()">{{"Cancel" | localize}}</button>
                    <button type="submit" class="btn btn-primary" (click)="save()"><i class="fa fa-save"></i> <span>{{"Save" | localize}}</span></button>
              </div>
           </form>
        </div>
    </div>
</div>
