<div [@routerTransition]>
    <div class="kt-content  kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor">
        <div class="kt-subheader kt-grid__item">
            <div [class]="containerClass">
                <div class="kt-subheader__main">
                    <h3 class="kt-subheader__title">
                        <span>{{"Queries" | localize}}</span>
                    </h3>
                    <span class="kt-subheader__separator kt-subheader__separator--v"></span>
                </div>
                <div class="kt-subheader__toolbar">
                    <div class="kt-subheader__wrapper">
                        <div class="btn-group" dropdown>
                            <button dropdownToggle type="button" class="btn btn-outline-success dropdown-toggle"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="far fa-file-excel"></i> {{"ExcelOperations" | localize}}
                            </button>
                            <div class="dropdown-menu dropdown-menu-right dropdown-excel-operations" *dropdownMenu>
                                <a class="dropdown-item" (click)="exportToExcel()"
                                    href="javascript:;">
                                    <i class="fa fa-download" style="font-size: 1rem;"></i>
                                    {{'ExportToExcel' | localize}}
                                </a>
                                <a href="javascript:;"
                                    class="no-padding">
                                    <span class="fileinput-button">
                                        <p-fileUpload customUpload="true" name="ExcelFileUpload" #ExcelFileUpload
                                            maxFileSize="10000000" auto="auto" accept=".csv,.xls,.xlsx"
                                            (uploadHandler)="uploadExcel($event)" (onError)="onUploadExcelError()"
                                            chooseLabel="{{'ImportFromExcel' | localize}}">
                                        </p-fileUpload>
                                    </span>
                                </a>
                                <div class="dropdown-divider"></div>
                                <span class="dropdown-item-text text-muted pl-3" href="#">
                                    <small></small>
                                </span>
                            </div>
                        </div>

                        <button  class="btn btn-primary" (click)="createQueryTicketModal.show()"><i class="fa fa-plus"></i> {{"CreateNewQuery" | localize}}</button>
                    </div>
                </div>
            </div>
        </div>
        <div [class]="containerClass + ' kt-grid__item kt-grid__item--fluid'">
            <div class="kt-portlet kt-portlet--mobile">
                <div class="kt-portlet__body">
                    <form class="kt-form" autocomplete="new-password">
                        <div>
                            <div class="row align-items-center mb-4">
                                <div class="col-xl-12">
                                    <div class="form-group m-form__group align-items-center">
                                        <div class="input-group">
                                            <input [(ngModel)]="filterText" name="filterText" autoFocus
                                                class="form-control m-input" [placeholder]="l('SearchWithThreeDot')"
                                                type="text">
                                            <span class="input-group-btn">
                                                <button (click)="getQueries()" class="btn btn-primary" type="submit"><i
                                                        class="flaticon-search-1"
                                                        [attr.aria-label]="l('Search')"></i></button>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row mb-4" [hidden]="!advancedFiltersAreShown">
                                <div
                                    [ngClass]="{'col-md-6': ('Pages.Administration.Roles' | permission), 'col-md-12':!isGranted('Pages.Administration.Roles')}">
                                    <div class="form-group">
                                        <permission-tree-modal #permissionFilterTreeModal (onModalclose)="getQueries()">
                                        </permission-tree-modal>
                                    </div>
                                </div>
                                <div class="col-md-6" *ngIf="'Pages.Administration.Roles' | permission">
                                    <div class="form-group">
                                        <role-combo name="roleFilter" [(ngModel)]="role"></role-combo>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="kt-checkbox-list">
                                    </div>
                                </div>
                            </div>

                            <div class="row mb-4" *ngIf="advancedFiltersAreShown">
                                <div class="col-sm-12 text-right">
                                    <button class="btn btn-primary" (click)="getQueries()"><i class="fa fa-sync"></i>
                                        {{"Refresh" | localize}}</button>
                                </div>
                            </div>
                            <div class="row mb-4">
                                <div class="col-sm-12">
                                    <span class="clickable-item text-muted" *ngIf="!advancedFiltersAreShown"
                                        (click)="advancedFiltersAreShown=!advancedFiltersAreShown"><i
                                            class="fa fa-angle-down"></i> {{"ShowAdvancedFilters" | localize}}</span>
                                    <span class="clickable-item text-muted" *ngIf="advancedFiltersAreShown"
                                        (click)="advancedFiltersAreShown=!advancedFiltersAreShown"><i
                                            class="fa fa-angle-up"></i> {{"HideAdvancedFilters" | localize}}</span>
                                </div>
                            </div>
                        </div>
                    </form>

                    <div class="row align-items-center">
                        <!--<Primeng-TurboTable-Start>-->
                        <div class="primeng-datatable-container" [busyIf]="primengTableHelper.isLoading">
                            <p-table #dataTable (onLazyLoad)="getQueries()" [value]="primengTableHelper.records"
                                rows="{{primengTableHelper.defaultRecordsCountPerPage}}" [paginator]="false"
                                [lazy]="true" [scrollable]="true" ScrollWidth="100%"
                                [responsive]="primengTableHelper.isResponsive"
                                [resizableColumns]="primengTableHelper.resizableColumns">
                                <ng-template pTemplate="header">
                                    <tr>
                                        <th style="width: 130px">
                                            {{'Actions' | localize}}</th>
                                        <th style="width: 150px" pSortableColumn="queryReference">
                                            {{'QueryReference' | localize}}
                                            <p-sortIcon field="queryReference"></p-sortIcon>
                                        </th>
                                        <th style="width: 150px" pSortableColumn="assignedTo">
                                            {{'AssignedTo' | localize}}
                                            <p-sortIcon field="assignedTo"></p-sortIcon>
                                        </th>
                                        <th style="width: 150px" pSortableColumn="department">
                                            {{'Department' | localize}}
                                            <p-sortIcon field="department"></p-sortIcon>
                                        </th>
                                        <th style="width: 150px">
                                            {{'QueryType' | localize}}
                                        </th>
                                        <th style="width: 250px" pSortableColumn="queryDescription">
                                            {{'QueryDescription' | localize}}
                                            <p-sortIcon field="queryDescription"></p-sortIcon>
                                        </th>
                                        <th style="width: 200px" pSortableColumn="sla">
                                            {{'SLA' | localize}}
                                            <p-sortIcon field="sla"></p-sortIcon>
                                        </th>
                                        <th style="width: 100px" pSortableColumn="queryStatus">
                                            {{'QueryStatus' | localize}}
                                            <p-sortIcon field="queryStatus"></p-sortIcon>
                                        </th>
                                    </tr>
                                </ng-template>
                                <ng-template pTemplate="body" let-record="$implicit">
                                    <tr>
                                        <td style="width: 130px">
                                            <div class="btn-group dropdown" dropdown container="body">
                                                <button dropdownToggle class="dropdown-toggle btn btn-sm btn-primary">
                                                    <i class="fa fa-cog"></i><span class="caret"></span>
                                                    {{"Actions" | localize}}
                                                </button>
                                                <ul class="dropdown-menu" *dropdownMenu>
                                                    <li>
                                                        <a href="javascript:;">{{'Edit' | localize}}</a>
                                                    </li>
                                                    <li>
                                                        <a href="javascript:;">{{'Delete' | localize}}</a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </td>
                                        <td style="width: 150px">
                                            <span class="ui-column-title"> {{'QueryReference' | localize}}</span>
                                            {{record.queryReference}}
                                        </td>
                                        <td style="width: 150px">
                                            <span class="ui-column-title"> {{'AssignedTo' | localize}}</span>
                                            {{record.assignedTo}}
                                        </td>
                                        <td style="width: 150px">
                                            <span class="ui-column-title"> {{'Department' | localize}}</span>
                                            {{record.department}}
                                        </td>
                                        <td style="width: 150px">
                                            <span class="ui-column-title"> {{'QueryType' | localize}}</span>
                                            {{record.queryType}}
                                        </td>
                                        <td style="width: 250px">
                                            <span class="ui-column-title"> {{'QueryDescription' | localize}}</span>
                                            {{record.queryDescription}}
                                        </td>
                                        <td style="width: 200px">
                                            <span class="ui-column-title"> {{'SLA' | localize}}</span>
                                            {{record.sla}}
                                        </td>
                                        <td style="width: 200px">
                                                <span class="ui-column-title"> {{'QueryStatus' | localize}}</span>
                                                {{record.queryStatus}}
                                            </td>
                                    </tr>
                                </ng-template>
                            </p-table>
                            <div class="primeng-no-data" *ngIf="primengTableHelper.totalRecordsCount == 0">
                                {{'NoData' | localize}}
                            </div>
                            <div class="primeng-paging-container">
                                <p-paginator [rows]="primengTableHelper.defaultRecordsCountPerPage" #paginator
                                    (onPageChange)="getQueries()"
                                    [totalRecords]="primengTableHelper.totalRecordsCount"
                                    [rowsPerPageOptions]="primengTableHelper.predefinedRecordsCountPerPage">

                                </p-paginator>
                                <span class="total-records-count">
                                    {{'TotalRecordsCount' | localize:primengTableHelper.totalRecordsCount}}
                                </span>
                            </div>
                        </div>
                        <!--<Primeng-TurboTable-End>-->
                    </div>
                </div>
            </div>
        </div>
                
        <div class="kt-container kt-grid__item kt-grid__item--fluid">
            <createQueryTicketModal #createQueryTicketModal></createQueryTicketModal>
        </div>
    </div>
</div>