<div [@routerTransition]>
  <div class="kt-content kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor">
      <div class="kt-subheader kt-grid__item">
          <div [class]="containerClass">
              <div class="kt-subheader__main">
                  <h3 class="kt-subheader__title">
                      <span>Position > Client Instruction</span>
                  </h3>
                  <span class="kt-subheader__separator kt-subheader__separator--v"></span>
                  <span class="kt-subheader__desc">List Client Instructions</span>
              </div>

              <div class="kt-subheader__toolbar">
                  <div class="kt-subheader__wrapper">
                      <button class="btn btn-primary" (click)="positionCriteriaModal.show()">
                          <i class="fa fa-plus"></i><span>Criteria</span>
                      </button>
                  </div>
              </div>
          </div>
      </div>

      <div [class]="containerClass + ' kt-grid__item kt-grid__item--fluid'">
          <div class="kt-portlet kt-portlet--mobile">
              <div class="kt-portlet__body">
                  <div class="row align-items-center">
                      <div class="primeng-datatable-container" [busyIf]="primengTableHelper.isLoading">
                          <p-table #dataTable [value]="primengTableHelper.records"
                              rows="{{primengTableHelper.defaultRecordsCountPerPage}}" [paginator]="false"
                              [scrollable]="true" ScrollWidth="100%"
                              [responsive]="primengTableHelper.isResponsive"
                              [resizableColumns]="primengTableHelper.resizableColumns">
                              <ng-template pTemplate="header">
                                  <tr><th style="width: 190px" *ngFor="let column of tableColumns">{{column.header}}</th></tr>
                              </ng-template>
                              <ng-template pTemplate="body" let-record="$implicit">
                                  <tr><td style="width: 190px" *ngFor="let column of tableColumns">{{record[column.field]}}</td></tr>
                              </ng-template>
                          </p-table>
                          <div class="primeng-paging-container">
                              <p-paginator #clientInstructionPaginator (onPageChange)="paginate($event)"
                                  [rows]="primengTableHelper.defaultRecordsCountPerPage"
                                  [totalRecords]="totalClientInstructionsCount"
                                  [rowsPerPageOptions]="primengTableHelper.predefinedRecordsCountPerPage">

                              </p-paginator>
                              <span class="total-records-count">
                                  {{'TotalRecordsCount' | localize:primengTableHelper.totalRecordsCount}}
                              </span>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>

      <div class="kt-container kt-grid__item kt-grid__item--fluid">
          <positionCriteriaModal #positionCriteriaModal (resultsReceived)="loadInitialResults($event)" [pageSize]="pageSize"></positionCriteriaModal>
      </div>
  </div>
</div>