<div bsModal #listOperationsDematRematModal="bs-modal" class="modal fade" tabindex="-1" [config]="{backdrop: 'static'}">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <form [formGroup]="criteriaForm" (ngSubmit)="processForm()">
        <div class="modal-header">
          <h5 class="modal-title">Criteria</h5>
          <button type="button" class="close" (click)="cancel()" [attr.aria-label]="l('Close')">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="row">
            <div class="col-md-3">
              <div class="form-group">
                <label for="counterparty">Order ID</label>
                <input type="text" class="form-control" name="order_ID" formControlName="order_ID"/>
              </div>
            </div>
            <div class="col-md-3">
              <div class="form-group">
                <label for="counterparty">Client Ref</label>
                <input type="text" class="form-control" name="client_Ref" formControlName="client_Ref"/>
              </div>
            </div>
            <div class="col-md-3">
              <div class="form-group">
                <label for="counterparty">App Ref</label>
                <input type="text" class="form-control" name="app_Ref" formControlName="app_Ref"/>
              </div>
            </div>
            <div class="col-md-3">
              <div class="form-group">
                <label for="counterparty">Client</label>
                <input type="text" class="form-control" name="client" formControlName="client"/>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-3">
              <div class="form-group">
                <label for="counterparty">Sec Acc</label>
                <input type="text" class="form-control" name="sec_Acc" formControlName="sec_Acc"/>
              </div>
            </div>
            <div class="col-md-3">
              <div class="form-group">
                <label for="counterparty">Trans Type</label>
                <input type="text" class="form-control" name="trans_Type" formControlName="trans_Type"/>
              </div>
            </div>
            <div class="col-md-3">
              <div class="form-group">
                <label for="counterparty">fI</label>
                <input type="text" class="form-control" name="fI" formControlName="fI"/>
              </div>
            </div>
            <div class="col-md-3">
              <div class="form-group">
                <label for="counterparty">Quantity</label>
                <input type="text" class="form-control" name="quantity" formControlName="quantity"/>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-3">
              <div class="form-group">
                <label for="counterparty">Off Ex</label>
                <input type="text" class="form-control" name="off_Ex" formControlName="off_Ex"/>
              </div>
            </div>
            <div class="col-md-3">
              <div class="form-group">
                <label for="counterparty">Physical Leg Status</label>
                <input type="text" class="form-control" name="physical_Leg_Status" formControlName="physical_Leg_Status"/>
              </div>
            </div>
            <div class="col-md-3">
              <div class="form-group">
                <label for="counterparty">Electronic Leg Status</label>
                <input type="text" class="form-control" name="electronic_Leg_Status" formControlName="electronic_Leg_Status"/>
              </div>
            </div>
            <div class="col-md-3">
              <div class="form-group">
                <label for="counterparty">Nostro Sec Acc</label>
                <input type="text" class="form-control" name="nostro_Sec_Acc" formControlName="nostro_Sec_Acc"/>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-3">
              <div class="form-group">
                <label for="counterparty">Trade Date</label>
                <input bsDatepicker [bsConfig]="{ adaptivePosition: true }" type="text" class="form-control" name="trade_Date" formControlName="trade_Date"/>
              </div>
            </div>
            <div class="col-md-3">
              <div class="form-group">
                <label for="counterparty">Trade Date End</label>
                <input bsDatepicker [bsConfig]="{ adaptivePosition: true }" type="text" class="form-control" name="trade_Date_End" formControlName="trade_Date_End"/>
              </div>
            </div>
            <div class="col-md-3">
              <div class="form-group">
                <label for="counterparty">Sett Date</label>
                <input bsDatepicker [bsConfig]="{ adaptivePosition: true }"type="text" class="form-control" name="sett_Date" formControlName="sett_Date"/>
              </div>
            </div>
            <div class="col-md-3">
              <div class="form-group">
                <label for="counterparty">Sett Date End</label>
                <input bsDatepicker [bsConfig]="{ adaptivePosition: true }" type="text" class="form-control" name="sett_Date_End" formControlName="sett_Date_End"/>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-3">
              <div class="form-group">
                <label for="counterparty">Taxable</label>
                <input type="text" class="form-control" name="taxable" formControlName="taxable"/>
              </div>
            </div>
            <div class="col-md-3">
              <div class="form-group">
                <label for="counterparty">Creation Date</label>
                <input bsDatepicker [bsConfig]="{ adaptivePosition: true }" type="text" class="form-control" name="creation_Date" formControlName="creation_Date"/>
              </div>
            </div>
            <div class="col-md-3">
              <div class="form-group">
                <label for="counterparty">Creation Date End</label>
                <input bsDatepicker [bsConfig]="{ adaptivePosition: true }" type="text" class="form-control" name="creation_Date_End" formControlName="creation_Date_End"/>
              </div>
            </div>
            <div class="col-md-3">
              <div class="form-group">
                <label for="counterparty">Update Date</label>
                <input bsDatepicker [bsConfig]="{ adaptivePosition: true }" type="text" class="form-control" name="update_Date" formControlName="update_Date"/>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-3">
              <div class="form-group">
                <label for="counterparty">Update Date End</label>
                <input bsDatepicker [bsConfig]="{ adaptivePosition: true }" type="text" class="form-control" name="update_Date_End" formControlName="update_Date_End"/>
              </div>
            </div>
            <div class="col-md-3">
              <div class="form-group">
                <label for="counterparty">Client Ref</label>
                <input type="text" class="form-control" name="client_Ref" formControlName="client_Ref"/>
              </div>
            </div>
            <div class="col-md-3">
              <div class="form-group">
                <label for="counterparty">Asset Family</label>
                <input type="text" class="form-control" name="asset_Family" formControlName="asset_Family"/>
              </div>
            </div>
            <div class="col-md-3">
              <div class="form-group">
                <label for="counterparty">Creator User ID</label>
                <input type="text" class="form-control" name="creator_User_ID" formControlName="creator_User_ID"/>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-3">
              <div class="form-group">
                <label for="counterparty">Update User ID</label>
                <input type="text" class="form-control" name="update_User_ID" formControlName="update_User_ID"/>
              </div>
            </div>
            <div class="col-md-3">
              <div class="form-group">
                <label for="counterparty">Custodian</label>
                <input type="text" class="form-control" name="custodian" formControlName="custodian"/>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" (click)="cancel()"
            [disabled]="isLoading">{{"Cancel" | localize}}</button>
          <button type="submit" class="btn btn-primary" [disabled]="isLoading">{{"Submit" | localize}}</button>
        </div>
      </form>
    </div>
  </div>
</div>